/* Acordeon styles */
.Card {
    position: relative;
    margin: 15px auto;
    width: 80%;
    color: #fff;
    overflow: hidden;
  }
  
input.Card_input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
  
label.Card_title {
    position: relative;
    display: block;
    padding: 0 0 0 1em;
    background: #569cc1;
    font-weight: bold;
    line-height: 3;
    cursor: pointer;
}
  
.Card_content {
    max-height: 0;
    overflow: hidden;
    background: #edecbce6;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
  
.Card_content p {
    margin: 1em;
    color: #565353;
    text-align: justify;
}

.Card_content .Controls {
    text-align: right;
    display: flex;
    justify-content: space-between;
}

.Card_content .Controls div {
    margin-left: 15px;
    color: #565353;
    font-style: italic;
    font-weight: 100;
    font-size: small;
}

.Card_content .Controls img {
    height: 25px;
    width: 25px;
    margin-left: 10px;
    cursor: pointer;
}

/* :checked */
input.Card_input:checked ~ .Card_content {
    max-height: 10em;
}
  
  /* Icon */
label.Card_title::after {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 3em;
    height: 3em;
    line-height: 3;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
  
input.Card_input[type=checkbox] + label.Card_title::after {
    content: "+";
}
  
input.Card_input[type=radio] + label.Card_title::after {
    content: "\25BC";
}
  
input.Card_input[type=checkbox]:checked + label.Card_title::after {
    transform: rotate(315deg);
}
  
input.Card_input[type=radio]:checked + label.Card_title::after {
    transform: rotateX(180deg);
}