.Workspace {
    width: 100%;
}

.Workspace button {
    margin: 20px auto !important;
    display: block !important;
    border: 2px solid #bbcea1;
    padding: 10px !important;
    text-align: center;
    background-color: #1d9a22;
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.Workspace button:active:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.Workspace button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.Form_radio,
.Form_group {
  position: relative;
  margin-top: 2.25rem;
  margin-bottom: 2.25rem;
}

.Form_inline > .Form_group,
.Form_inline > .btn {
  display: inline-block;
  margin-bottom: 0;
}

.Form_help {
  margin-top: 0.125rem;
  margin-left: 0.125rem;
  color: #b3b3b3;
  font-size: 0.8rem;
}
.checkbox .Form_help, .Form_radio .Form_help, .Form_group .Form_help {
  position: absolute;
  width: 100%;
}
.checkbox .Form_help {
  position: relative;
  margin-bottom: 1rem;
}
.Form_radio .Form_help {
  padding-top: 0.25rem;
  margin-top: -1rem;
}

.Form_group input {
  height: 1.9rem;
}
.Form_group textarea {
  resize: none;
}
.Form_group select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}
.Form_group .Control_label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #b3b3b3;
  font-size: 1rem;
  font-weight: normal;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.Form_group .Bar {
  position: relative;
  border-bottom: 0.0625rem solid #999;
  display: block;
}
.Form_group .Bar::before {
  content: '';
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #337ab7;
  -webkit-transition: left 0.28s ease, width 0.28s ease;
  transition: left 0.28s ease, width 0.28s ease;
  z-index: 2;
}
.Form_group input,
.Form_group textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  -webkit-transition: all 0.28s ease;
  transition: all 0.28s ease;
  box-shadow: none;
}
.Form_group input[type="file"] {
  line-height: 1;
}
.Form_group input[type="file"] ~ .Bar {
  display: none;
}
.Form_group select,
.Form_group input:focus,
.Form_group input:valid,
.Form_group input.form-file,
.Form_group input.has-value,
.Form_group textarea:focus,
.Form_group textarea:valid,
.Form_group textarea.form-file,
.Form_group textarea.has-value {
  color: #333;
}
.Form_group select ~ .Control_label,
.Form_group input:focus ~ .Control_label,
.Form_group input:valid ~ .Control_label,
.Form_group input.form-file ~ .Control_label,
.Form_group input.has-value ~ .Control_label,
.Form_group textarea:focus ~ .Control_label,
.Form_group textarea:valid ~ .Control_label,
.Form_group textarea.form-file ~ .Control_label,
.Form_group textarea.has-value ~ .Control_label {
  font-size: 0.8rem;
  color: gray;
  top: -1rem;
  left: 0;
}
.Form_group select:focus,
.Form_group input:focus,
.Form_group textarea:focus {
  outline: none;
}
.Form_group select:focus ~ .Control_label,
.Form_group input:focus ~ .Control_label,
.Form_group textarea:focus ~ .Control_label {
  color: #337ab7;
}
.Form_group select:focus ~ .Bar::before,
.Form_group input:focus ~ .Bar::before,
.Form_group textarea:focus ~ .Bar::before {
  width: 100%;
  left: 0;
}

.checkbox label,
.Form_radio label {
  position: relative;
  cursor: pointer;
  padding-left: 2rem;
  text-align: left;
  color: #333;
  display: block;
}

.checkbox input,
.Form_radio input {
  width: auto;
  opacity: 0.00000001;
  position: absolute;
  left: 0;
}

.radio {
  margin-bottom: 1rem;
}
.radio .helper {
  position: absolute;
  top: -0.25rem;
  left: -0.25rem;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #999;
}

.radio .helper::before, .radio .helper::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  margin: 0.25rem;
  width: 1rem;
  height: 1rem;
  -webkit-transition: -webkit-transform 0.28s ease;
  transition: -webkit-transform 0.28s ease;
  transition: transform 0.28s ease;
  transition: transform 0.28s ease, -webkit-transform 0.28s ease;
  border-radius: 50%;
  border: 0.125rem solid currentColor;
}
.radio .helper::after {
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #337ab7;
  border-color: #337ab7;
}
.radio label:hover .helper {
  color: #337ab7;
}
.radio input:checked ~ .helper::after {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}
.radio input:checked ~ .helper::before {
  color: #337ab7;
}

.checkbox {
  margin-top: 3rem;
  margin-bottom: 1rem;
}
.checkbox .helper {
  color: #999;
  position: absolute;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  z-index: 0;
  border: 0.125rem solid currentColor;
  border-radius: 0.0625rem;
  -webkit-transition: border-color 0.28s ease;
  transition: border-color 0.28s ease;
}
.checkbox .helper::before, .checkbox .helper::after {
  position: absolute;
  height: 0;
  width: 0.2rem;
  background-color: #337ab7;
  display: block;
  -webkit-transform-origin: left top;
          transform-origin: left top;
  border-radius: 0.25rem;
  content: '';
  -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
  transition: opacity 0.28s ease, height 0s linear 0.28s;
  opacity: 0;
}
.checkbox .helper::before {
  top: 0.65rem;
  left: 0.38rem;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  box-shadow: 0 0 0 0.0625rem #fff;
}
.checkbox .helper::after {
  top: 0.3rem;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.checkbox label:hover .helper {
  color: #337ab7;
}
.checkbox input:checked ~ .helper {
  color: #337ab7;
}
.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
  opacity: 1;
  -webkit-transition: height 0.28s ease;
  transition: height 0.28s ease;
}
.checkbox input:checked ~ .helper::after {
  height: 0.5rem;
}
.checkbox input:checked ~ .helper::before {
  height: 1.2rem;
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
  margin-top: 1rem;
}

.has-error .legend.legend, .has-error.Form_group .Control_label.Control_label {
  color: #d9534f;
}
.has-error.Form_group .Form_help,
.has-error.Form_group .helper, .has-error.checkbox .Form_help,
.has-error.checkbox .helper, .has-error.radio .Form_help,
.has-error.radio .helper, .has-error.Form_radio .Form_help,
.has-error.Form_radio .helper {
  color: #d9534f;
}
.has-error .Bar::before {
  background: #d9534f;
  left: 0;
  width: 100%;
}